.difficultPanelWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  button {
    height: 35px;
    width: 60px;
    background-color: #ababab;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
    transition-property: transform, box-shadow;
    &:hover {
      background-color: #767676;
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    &:active {
      transform: translateY(4px);
      box-shadow: none;
    }
  }
}
